{% extends "base.html" %}
{% block title %}
  About us
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        About us
      </div>
      <div class="card-body">
        <p>
          We are a group of young and promising talents from School 2031, the entire school literally stands on our shoulders, we are the strongest students in our field, physically prepared for any tasks that will benefit our school
        </p>
      </div>
    </div>
  </div>
{% endblock %}